html,
body {
  margin: 0;
  padding: 0;
  background-color: #F3F3FF;
  color: #0d66d3;
}

canvas {
  display: block;
}

body {
  padding: 30px;
  width: 500px;
}

#selected-language {
  color: #0a4a98;
  padding: 10px 15px;
  background-color: #ececff;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

#languages {
  width: 500px;
  display: none;
  gap: 20px;
  flex-wrap: wrap;
}

#languages div:hover {
  cursor: pointer;
  color: #0a4a98;
}







/* loader */
#loader {
  display: none;
  justify-content: center;
}

.loader {
  width: fit-content;
  height: 15px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(farthest-side, #0a4a98 90%, #0000);
  background:
    var(--_g) left,
    var(--_g) right;
  background-size: 20% 80%;
  display: grid;
}

.loader:before,
.loader:after {
  content: "";
  height: 80%;
  aspect-ratio: 1;
  grid-area: 1/1;
  margin: auto;
  border-radius: 50%;
  transform-origin: -100% 50%;
  background: #0d66d3;
  animation: l49 1s infinite linear;
}

.loader:after {
  transform-origin: 200% 50%;
  --s: -1;
  animation-delay: -.5s;
}

@keyframes l49 {

  58%,
  100% {
    transform: rotate(calc(var(--s, 1)*1turn))
  }
}